[Unit]
Description=Tuya API Service
After=network.target

[Service]
Type=simple
ExecStart=/www/tuya-api/tuya-api
WorkingDirectory=/www/tuya-api

[Install]
WantedBy=multi-user.target